
body{
  padding-left: 10px;
}

header{
  color: green;
  padding-top: 60px;
  padding-left: 5px;
}

#viewDiv {
  width:50%;
  height:calc(100% - 0);
  position:absolute;
  left:50%;
  top:60px;
  bottom:0;
  position: fixed;
  overflow:hidden;
}

#left {
	height:50%;
}
